<!DOCTYPE html>
<html lang="en-us">

<head>
<meta charset="utf-8">
<title>Change Password</title>

   <link rel="stylesheet" type="text/css" href="../css/style.css" media="all" />
   <link rel="stylesheet" type="text/css" href="../css/style2.css" media="all" />
   <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
   <style type="text/css">
     .css-form input.ng-invalid.ng-touched {
       background-color: #FA787E;
     }
   
     .css-form input.ng-valid.ng-touched {
       background-color: #78FA89;
     }
     a.five:link {color:#0000ff;text-decoration:none;}
    a.five:visited {color:#0000ff;text-decoration:none;}
    a.five:hover {text-decoration:underline;}
    
    .hidden {
      display: none;  
    }
    .visible {
      display: block;
    }
   </style>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

   <script type="text/javascript">
   /* global myform */
   /* global $ */

      var app = angular.module("app", []);
      app.controller("HttpController", function ($scope, $http, $window) {
          $scope.loginuser = ($window.sessionStorage.getItem('username') != '' && $window.sessionStorage.getItem('username') != null ? true : false);
          $scope.currentuser = $window.sessionStorage.getItem('username');
          $scope.submitForm = function () {
              
             // use $.param jQuery function to serialize data from JSON 
              var data = $.param({
                username: $window.sessionStorage.getItem('username'),
                password: $scope.oldpassword,
                newpassword: $scope.password
              });
  
              $http({
                  method: 'POST',
                  url: 'http://assignment-305cde-wwy1116.c9users.io:8082/changePassword',
                  data: data,
                  headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
              }).then(function mySucces(response) {
                  console.log(response.data.message);
                  if (response.data.message == 'success'){
                      alert("Change password successful.");
                      myform.reset();
                      window.location = '/index';
                  }else
                    alert("Your old password is wrong.");
              }, function myError(response) {
                  console.log(response.statusText);
              });
          };
      });
      
      app.directive("passwordVerify", function() {
      return {
         require: "ngModel",
         scope: {
           passwordVerify: '='
         },
         link: function(scope, element, attrs, ctrl) {
           scope.$watch(function() {
               var combined;
   
               if (scope.passwordVerify || ctrl.$viewValue) {
                  combined = scope.passwordVerify + '_' + ctrl.$viewValue; 
               }                    
               return combined;
           }, function(value) {
               if (value) {
                   ctrl.$parsers.unshift(function(viewValue) {
                       var origin = scope.passwordVerify;
                       if (origin !== viewValue) {
                           ctrl.$setValidity("passwordVerify", false);
                           return undefined;
                       } else {
                           ctrl.$setValidity("passwordVerify", true);
                           return viewValue;
                       }
                   });
               }
           });
        }
      };
   });
   
   

   </script>
</head>
<body onload="">
 <div class="container" ng-app="app" ng-controller="HttpController">
			<header>
			    <div style="padding-right:160px" align="right" ng-hide="loginuser">
                     <a class="five" href="/login" target="_self">Login</a>&nbsp;|
                     <a class="five" href="/registration" target="_self">Registration</a>
                 </div>
                 <div style="padding-right:160px" align="right" ng-show="loginuser">
                     Hi, {{currentuser}}&nbsp;|
                     <a class="five" href="/favouriteList" target="_self">Favourite List</a>&nbsp;|
                     <a class="five" href="/index" target="_self">Searching</a>&nbsp;|
                     <a class="five" href="" ng-click="logout()" target="_self">Logout</a>
                 </div>
				<h1><strong>Change Passowrd</strong></h1>
            </header>       
      <div class="form">
    		<form id="myform" name="myform" class="css-form" novalidate> 
    		
    		<p class="contact"><label for="oldpassword">Old password</label></p> 
			    <input type="password" id="oldpassword" name="oldpassword" ng-model="oldpassword" tabindex="1" ng-maxlength="20" ng-minlength="6" required> 
			    <span style="color:red;font-weight:bold;font-size:small" ng-show="myform.$submitted || myform.oldpassword.$touched">
       <span ng-show="myform.oldpassword.$error.required">Required</span>
       <span ng-show="myform.oldpassword.$error.minlength">Minimum 6 chars</span>
       <span ng-show="myform.oldpassword.$error.maxlength">Maximum 20 chars</span>
       </span>

			    <p class="contact"><label for="password">New password</label></p> 
			    <input type="password" id="password" name="password" ng-model="password" tabindex="2" ng-maxlength="20" ng-minlength="6" required> 
			    <span style="color:red;font-weight:bold;font-size:small" ng-show="myform.$submitted || myform.password.$touched">
       <span ng-show="myform.password.$error.required">Required</span>
       <span ng-show="myform.password.$error.minlength">Minimum 6 chars</span>
       <span ng-show="myform.password.$error.maxlength">Maximum 20 chars</span>
       </span>
						
			    <p class="contact"><label for="repassword">Confirm new password</label></p> 
				   <input type="password" id="repassword" name="repassword" ng-model="repassword" tabindex="3" maxlength="20" required data-password-verify="password"> 
				   <span style="color:red;font-weight:bold;font-size:small" ng-show="myform.$submitted || myform.repassword.$touched">
       <span ng-show="myform.repassword.$error.required">Required</span>
       <span ng-show="myform.repassword.$error.passwordVerify">Not same with password</span>
       </span>
 						<br>
 						<br>
 			   <input class="buttom" tabindex="5" value="Change password" type="button" ng-click="submitForm()" ng-disabled="myform.oldpassword.$invalid || myform.password.$invalid || myform.repassword.$invalid">
       <br>

   </form> 
  </div>       
</div>
</body>

</html>
