<!DOCTYPE html>
<html lang="en-us">

<head>
<meta charset="utf-8">
<title>Free E-book Searching</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../css/style2.css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   <style type="text/css">
     .css-form input.ng-invalid.ng-touched {
       background-color: #FA787E;
     }
   
     .css-form input.ng-valid.ng-touched {
       background-color: #78FA89;
     }
     
    a.five:link {color:#0000ff;text-decoration:none;}
    a.five:visited {color:#0000ff;text-decoration:none;}
    a.five:hover {text-decoration:underline;}
    
    .hidden {
      display: none;  
    }
    .visible {
      display: block;
    }
    </style>
   
   <script type="text/javascript">
   /* global myform */
   /* global $ */
   
   var app = angular.module("app", []);
      app.controller("HttpController", function ($scope, $http, $window) {
        $scope.loginuser = ($window.sessionStorage.getItem('username') != '' && $window.sessionStorage.getItem('username') != null ? true : false);
        $scope.currentuser = $window.sessionStorage.getItem('username');
        //alert($scope.currentuser);
        $scope.pushdata = [];
          $scope.submitForm = function () {
              $scope.pushdata = [];
             // use $.param jQuery function to serialize data from JSON 
              var data = $.param({
                bookname: $scope.book_keywords
              });
  
              $http({
                  method: 'POST',
                  url: 'http://assignment-305cde-wwy1116.c9users.io:8082/searchBookByName',
                  data: data,
                  headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
              }).then(function mySucces(response) {
                  //console.log(response.data.data.items);
                  $scope.show = true;
                  var itemdata = response.data.data.items;
                  angular.forEach(itemdata, function(value, key) {
                    console.log(value);
                    $scope.pushdata.push(value);
                  });
              }, function myError(response) {
                  console.log(response.statusText);
              });
          };
          $scope.addFavourite = function ($event) {
             // use $.param jQuery function to serialize data from JSON 
              var data = $.param({
                username: $window.sessionStorage.getItem('username'),
                volumeID: $event.target.id
              });
  
              $http({
                  method: 'POST',
                  url: 'http://assignment-305cde-wwy1116.c9users.io:8082/createFavourite',
                  data: data,
                  headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
              }).then(function mySucces(response) {
                  //console.log(response.data.message);
                  if (response.data.message == 'exist')
                    alert("This book is already in your favourite list.");
                  else
                    alert("This book has been add to your favourite.");
              }, function myError(response) {
                  console.log(response.statusText);
              });
          };
          $scope.logout = function () {
            $window.sessionStorage.setItem('username','');
            $window.location = '/index';
          };
          $scope.openPreview = function ($event) {
            $window.open($event.target.id);
          };
      });

   </script>
</head>
<body onload="">
 <div class="container" ng-app="app" ng-controller="HttpController">
     
			<header>
			    <div style="padding-right:160px" align="right" ng-hide="loginuser">
                     <a class="five" href="/login" target="_self">Login</a>&nbsp;|
                     <a class="five" href="/registration" target="_self">Registration</a>
                 </div>
                 <div style="padding-right:160px" align="right" ng-show="loginuser">
                     Hi, {{currentuser}}&nbsp;|
                     <a class="five" href="/favouriteList" target="_self">Favourite List</a>&nbsp;|
                     <a class="five" href="/changePasswordPage" target="_self">Change password</a>&nbsp;|
                     <a class="five" href="" ng-click="logout()" target="_self">Logout</a>
                 </div>
				<h1><strong>Free E-book Searching</strong></h1>
            </header>       
      <div class="form2">
    		<form id="myform" name="myform" class="css-form" novalidate> 
    		
			    <p class="contact"><label for="keywords">Title keyword</label></p> 
				   <input id="book_keywords" name="book_keywords" ng-model="book_keywords" tabindex="1" type="text" maxlength="100" required> 
				   <span style="color:red;font-weight:bold;font-size:small" ng-show="myform.$submitted || myform.book_keywords.$touched">
       <span ng-show="myform.book_keywords.$error.required">Required</span>
       </span>
						
						<br>
						<br>
			   <input class="buttom" tabindex="3" value="Search" type="button" ng-click="submitForm()" ng-disabled="myform.book_keywords.$invalid">
         <br>
        <div style="width:850px" class="hidden" ng-class="{visible: show}">
          <table class="bordered">
            <thead>
            <tr>
                <th colspan=4>Search Result</th>        
            </tr>
            </thead>
            <tr ng-repeat="bookitem in pushdata" ng-if="pushdata.length>0">
                <td style="width:100px"><img src="{{bookitem.volumeInfo.imageLinks.thumbnail}}" height="180" width="130"></td>
                <td style="width:300px"><b>Title: </b>{{bookitem.volumeInfo.title}}
                    <br>
                    <b>Publisher: </b>{{bookitem.volumeInfo.publisher}}
                    <br>
                    <b>Authors: </b><font ng-repeat="author in bookitem.volumeInfo.authors track by $index">{{author}}{{$last ? '' : ' / '}}</font>
                </td>
                <td style="width:100px;text-align:center"><input class="buttom" value="Preview" type="button" ng-click="openPreview($event)" id="{{bookitem.volumeInfo.previewLink}}"></td>
                <td ng-show="loginuser" style="width:100px;text-align:center" align="center"><input class="buttom" value="Add to favourite" type="button" ng-click="addFavourite($event)" id="{{bookitem.id}}"></td>
            </tr>
            <tr ng-if="pushdata== null || pushdata.length === 0">
                <td>
                    No Record Found
                </td>
            </tr>
        </table>
        
      </div>
      <br/>
   </form> 
   <br/>
  </div>
  
</div>
</body>

</html>
