<!DOCTYPE html>
<html lang="en-us">

<head>
<meta charset="utf-8">
<title>User Login</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../css/style2.css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   <style type="text/css">
     .css-form input.ng-invalid.ng-touched {
       background-color: #FA787E;
     }
   
     .css-form input.ng-valid.ng-touched {
       background-color: #78FA89;
     }
     
     a.five:link {color:#0000ff;text-decoration:none;}
    a.five:visited {color:#0000ff;text-decoration:none;}
    a.five:hover {text-decoration:underline;}
   </style>
   
   <script type="text/javascript">
   /* global myform */
   /* global $ */
   
   var app = angular.module("app", []);
      app.controller("HttpController", function ($scope, $http, $window) {
          $scope.submitForm = function () {
             // use $.param jQuery function to serialize data from JSON 
              var data = $.param({
                username: $scope.username,
                password: $scope.password
              });
  
              $http({
                  method: 'POST',
                  url: 'http://assignment-305cde-wwy1116.c9users.io:8082/verifyLogin',
                  data: data,
                  headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
              }).then(function mySucces(response) {
                  //console.log(response.data.message);
                  if (response.data.message == 'success'){
                      $window.sessionStorage.setItem('username',$scope.username);
                      myform.reset();
                      window.location = '/index';
                  }else
                    alert("Incorrect username or password.");
              }, function myError(response) {
                  console.log(response.statusText);
              });
          };
      });

   </script>
</head>
<body onload="">
 <div class="container" ng-app="app" ng-controller="HttpController">
			<header>
			    <div style="padding-right:160px" align="right">
                     <a class="five" href="/index" target="_self">Searching</a>&nbsp;|
                     <a class="five" href="/registration" target="_self">Registration</a>
                 </div>
				<h1><strong>User Login</strong></h1>
            </header>       
      <div class="form" >
    		<form id="myform" name="myform" class="css-form" novalidate> 
    		
			    <p class="contact"><label for="userName">Username</label></p> 
				   <input id="userName" name="userName" ng-model="username" tabindex="1" type="text" maxlength="20" required> 
				   <span style="color:red;font-weight:bold;font-size:small" ng-show="myform.$submitted || myform.username.$touched">
       <span ng-show="myform.username.$error.required">Required</span>
       </span>
						 
			    <p class="contact"><label for="password">Password</label></p> 
			    <input type="password" id="password" name="password" ng-model="password" tabindex="2" maxlength="20" required>
			    <span style="color:red;font-weight:bold;font-size:small" ng-show="myform.$submitted || myform.password.$touched">
       <span ng-show="myform.password.$error.required">Required</span> 
       </span>
						
						<br>
						<br>
			   <input class="buttom" tabindex="3" value="Login" type="button" ng-click="submitForm()" ng-disabled="myform.username.$invalid || myform.password.$invalid">
         <br>

   </form> 
  </div>       
</div>
</body>

</html>
